.Header {
  align-items: center;
  background: black;
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.Header a {
  color: inherit;
  text-decoration: none;
}

.Header form {
  text-align: right;
}

.Header .version {
  font-size: 0.75em;
  opacity: 0.75;
}

.Header .search-field {
  appearance: none;
  background: white;
  border: none;
  font-size: 16px;
  margin: 0 5px;
  padding: 5px;
  width: 130px;
}

@media (min-width: 500px) {
  .Header .search-field {
    width: 200px;
  }
}
