.Header {
  background: black;
  box-sizing: border-box;
  color: white;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.Header .search-field {
  appearance: none;
  background: white;
  border: none;
  font-size: 16px;
  margin: 0 5px;
  padding: 5px;
  max-width: 200px;
  width: 33%;
}

.Header button {
  appearance: none;
  background: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  padding: 5px 7px;
}
