.Pin {
  background-color: black;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: 'Montserrat';
  height: 20px;
  padding-top: 4px;
  position: relative;
  text-align: center;
  transform: translate(-12px, -36px);
  transition: all 100ms;
  width: 24px;
}

.Pin:hover {
  transform: translate(-12px, -43px) scale(1.25);
}

.Pin::after {
  border: 10px solid transparent;
  border-top: 17px solid black;
  content: '';
  bottom: -21px;
  left: 2px;
  position: absolute;
}

.Pin .dot {
  border-radius: 5px;
  background: white;
  height: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 10px;
}
